---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="text-center"><a href="/support/"><i class="fas fa-heart"></i> Support my work</a></div>
</article>
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
    kofiWidgetOverlay.draw('botherder', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#323842',
        'floating-chat.donateButton.text-color': '#fff'
    });
</script>
